<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8"/>
        <title>供应商信息展示页面</title>
        <meta content="webkit" name="renderer"/>
        <link href="../../css/font.css" rel="stylesheet"/>
        <link href="../../css/xadmin.css" rel="stylesheet"/>
        <script charset="utf-8" src="../../lib/layui/layui.js"></script>
        <script src="../../js/xadmin.js" type="text/javascript"></script>
        <script src="../../js/vue2.7min.js"></script>
        <script src="../../js/axios.min.js"></script>
    </head>
    <body>
        <div class="x-nav">
            <a
                    class="layui-btn layui-btn-small"
                    onclick="location.reload()"
                    style="line-height: 1.6em; margin-top: 3px; float: right"
                    title="刷新"
            >
                <i class="layui-icon layui-icon-refresh" style="line-height: 30px"></i
                ></a>
        </div>
        <div class="layui-fluid" id="app">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <button
                                    class="layui-btn"
                                    onclick="xadmin.open('添加供应商','./supplier-add.html',600,400)">
                                <i class="layui-icon"></i>添加
                            </button>
                            <button
                                    class="layui-btn"
                                    @click="downloadExcel()">
                                <i class="layui-icon"></i>导出Excel
                            </button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table layui-form">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>供应商ID</th>
                                    <th>所属管理者ID</th>
                                    <th>所属管理者名字</th>
                                    <th>供应商名称</th>
                                    <th>电话</th>
                                    <th>供应商地址</th>
                                    <th>供应商信息</th>
                                    <th>供应商邮箱</th>
                                    <th>供应商状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                <!--模板开始-->
                                <tr v-for="(item , index) in records">
                                    <td>{{index+1}}</td>
                                    <td v-text="item.supplierId"></td>
                                    <td v-if="item.belongManagerId===null">管理员已删除，请重新分配管理员</td>
                                    <td v-text="item.belongManagerId" v-if="item.belongManagerId!==null"></td>
                                    <td v-text="item.belongManagerName" v-if="item.belongManagerName!==null"></td>
                                    <td v-text="item.supplierName"></td>
                                    <td v-text="item.supplierPhone"></td>
                                    <td v-text="item.supplierAddress"></td>
                                    <td v-text="item.supplierMessage"></td>
                                    <td v-text="item.supplierEmail"></td>
                                    <td class="td-status">
                                        <span class="layui-btn layui-btn-normal layui-btn-mini"
                                              v-if="item.supplierState===1"
                                              style="background-color: green"
                                              @click="changeState(item.supplierId)">已启用</span>
                                        <span class="layui-btn layui-btn-normal layui-btn-mini"
                                              v-if="item.supplierState===0"
                                              style="background-color: tomato"
                                              @click="changeState(item.supplierId)">已禁用</span>
                                    </td>
                                    <td class="td-manage">
                                        <span class="layui-btn layui-btn-normal layui-btn-mini"
                                              style="background-color: orange"
                                              @click="editById(item.supplierId)">编辑</span>
                                        <span class="layui-btn layui-btn-normal layui-btn-mini"
                                              style="background-color: red"
                                              v-if="vm.managerLevel===0"
                                              @click="deleteById(item.supplierId)">删除</span>
                                    </td>
                                </tr>
                                <!--模板结束-->
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body">
                            <div class="page">
                                <div>
                                    <a class="prev"
                                       @click="getPage('-')">&lt;&lt;</a>
                                    <a class="num" v-text="current-1" v-if="current>1"
                                       @click="getPage('-')"></a>

                                    <span class="current" v-text="current"></span>

                                    <a class="num" v-text="current+1" v-if="current<pages"
                                       @click="getPage('+')"></a>
                                    <a class="num" v-text="pages" v-if="current+1 < pages"
                                       @click="getPage('max')"></a>

                                    <a class="next"
                                       @click="getPage('+')">&gt;&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var vm = new Vue({
                el: "#app",
                data: {
                    //Manager信息
                    managerId: null,
                    managerName: null,
                    managerPassword: null,
                    managerRealName: null,
                    managerSex: null,
                    managerPhone: null,
                    managerState: null,
                    managerLevel: null,
                    //分页属性
                    current: 1,
                    records: null,
                    total: null,
                    size: null,
                    pages: null,
                    //供应商属性
                    supplierId: null,
                    belongManagerId: null,
                    supplierPhone: null,
                    supplierName: null,
                    supplierAddress: null,
                    supplierMessage: null,
                    supplierEmail: null,
                    supplierState: null,


                },
                methods: {
                    //获取管理员信息
                    getManager() {
                        axios.post("../../../manager/getManager")
                            .then(function (response) {
                                //数据保存到vue全局
                                if (response.data.code === 1) {
                                    //Manager信息
                                    vm.managerId = response.data.data.managerId;
                                    vm.managerName = response.data.data.managerName
                                    vm.managerPassword = response.data.data.managerPassword
                                    vm.managerRealName = response.data.data.managerRealName
                                    vm.managerSex = response.data.data.managerSex
                                    vm.managerPhone = response.data.data.managerPhone
                                    vm.managerState = response.data.data.managerState
                                    vm.managerLevel = response.data.data.managerLevel
                                }
                            }, function (err) {
                                console.log(err);

                            })
                    },
                    getPage(str) {
                        var jsonD = null;
                        if (str === "first") {
                            //默认查询第一页
                            jsonD = {num1: 1}
                        } else {
                            //不是第一次
                            var aimCurrent = null;
                            if (vm === null || vm.current === null) {
                                aimCurrent = 1;
                            } else {
                                aimCurrent = vm.current;
                            }
                            //判断参数操作符好
                            if (str === '-') {
                                if (vm.current === 1) {
                                    aimCurrent = 1;
                                } else {
                                    aimCurrent = aimCurrent - 1;
                                }
                            } else if (str === '+') {
                                if (vm.current < vm.pages) {
                                    aimCurrent = aimCurrent + 1;
                                } else {
                                    aimCurrent = vm.pages;
                                }
                            } else if (str === 'max') {
                                aimCurrent = vm.pages;
                            }
                            jsonD = {num1: aimCurrent}
                        }
                        axios.post("../../../supplier/getPage", jsonD)
                            .then(function (response) {
                                vm.current = response.data.data.current;
                                vm.records = response.data.data.records;
                                vm.total = response.data.data.total;
                                vm.size = response.data.data.size;
                                vm.pages = response.data.data.pages;

                            }, function (err) {
                                console.log(err);

                            })

                    },
                    changeState(aimId) {
                        //修改管理员状态
                        var jsonD = {id: aimId};
                        axios.post("../../../supplier/changeState", jsonD).then(
                            function (response) {
                                //数据保存到vue全局
                                if (response.data.code === 1) {
                                    xadmin.father_reload();
                                }
                            },
                            function (err) {
                                console.log(err);
                            }
                        );


                    },
                    editById(aimId) {
                        // console.log("打印编辑方法的参数&目标id=",aimId);
                        window.location.href = './supplier-edit.html?id=' + aimId;
                    },
                    downloadExcel() {
                        axios.post("../../../excel/downloadSupplierExcel")
                            .then(function (response) {
                                    layer.alert("文件导出成功" +
                                        "文件地址：D:red1/excel/", {
                                        icon: 6
                                    })
                            }, function (err) {
                                console.log(err);

                            })
                    },
                    deleteById(aimId) {
                        //修改管理员状态
                        var jsonD = {id: aimId}
                        axios.post("../../../supplier/deleteById", jsonD)
                            .then(function (response) {
                                //数据保存到vue全局
                                if (response.data.code === 1) {
                                    xadmin.father_reload()

                                }
                            }, function (err) {
                                console.log(err);

                            })


                    },
                },
                mounted: function () {
                    //查询管理员信息
                    this.getManager();
                    //获取分页数据
                    this.getPage("first");
                }
            });
        </script>
    </body>

</html>
